@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap');

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper{
    background-color: #141515;
    font-family: "Montserat",sans-serif;
    color: #ffffff;
}

/* NAV SECTION */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.navbar-list{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    width: 80%;
    background-color: #141515;
    color: #ffffff;
    text-transform: capitalize;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 1;
}

.navbar-list.active{
    display: flex;
}

.navbar-item{
    border: 1px solid #ffffff;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

/* RECTANGLE SECTION */

.rectangle-section{
    background-image: url(../img/background-secrion.png);
    -webkit-background-size:cover;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 100px;
}

.big-rectangle,
.small-rectangle{
    background-color: #000000;
    color: #ffffff;
    padding: 32px;
    display: inline-block;
}

.big-rectangle{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 25px;
}

.small-rectangle{
    margin-left: 70px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-transform: capitalize;
    text-decoration-line: underline;
    margin-bottom: 242px;
}

.decoration-rectangle{
    position: absolute;
    width: 70%;
    height: 60px;
    background-color: #ed1260;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

/* ABOUT US */

.adout-us-title{
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.cards-item{
    width: 40% ;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}

.cards-item:nth-child(even){
    margin-left: 30px;
}

.card-text{
    height: 50%;
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

/* MAP SECTION */

.map{
    border: 5px solid #ED1260;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 600px;
}
@media (max-width: 614px) {
    .map{
        margin: 0 15px;
    }
}

.map-img-container{
    padding: 15px;
}
.map-img{
    width: 100%;
}

.map-text{
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
}

/* CONTACTS */

.contacts{
    margin-top: 60px;
    border: 5px solid #F38A03;
    box-sizing: border-box;
    padding: 25px 0;
}

.contacts-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contacts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contacts-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 220px;
}

.contacts-info{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.contacts-item-info{
    display: none;
}

.contacts-info-item{
    margin-bottom: 5px;
}

.contacts-info-item:nth-last-child(1){
    margin-bottom: 0;
}

.contacts-img{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
}